# Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React Native bundler cache
*.log
*.eslintcache
*.metro-*

# build directories
/build/
/android/build/
/ios/build/
/ios/Pods/

# Xcode files
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
xcuserdata/

# Android/IntelliJ files
.idea/
.gradle/
local.properties
*.iml
*.hprof
.cxx/

# Android/IntelliJ files
android/build/
android/.gradle/
android/local.properties
android/app/build/
android/app/.idea/


# Expo specific files (if you're using Expo)
.expo/

# Fastlane
/fastlane/report.xml
/fastlane/Preview.html
/fastlane/screenshots
/fastlane/test_output

# Miscellaneous
.DS_Store
Thumbs.db

# Coverage directory used by testing tools
/coverage

# React Native Metro Bundler Cache
/metro-cache

# Firebase credentials and other sensitive files
*.jks
*.p12
*.env
